

/* CSS variables */

:root {
  --accent: white;
  --darker: white;
  --typewriterSpeed: 6s;
  --typewriterCharacters: 24;
}

/* Main configuration */

html, body {
    background: rgb(59, 55, 55);
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}

main {
    font-family: sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0;
    margin-right: -15px;
    letter-spacing: 3px;
    font-size: 46px;
    color: var(--accent);
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    margin-right: -15px;
    text-transform: lowercase;
    letter-spacing: 3px;
    font-size: 32px;
    color: var(--accent);
}

#socials {
    margin: 0 auto;
    margin-top: 10px;
}

#links a {
    font-size: 28px;
    color: var(--darker);
    text-decoration: none;
    margin: 5px 12px;
    display: inline-block;
    vertical-align: top;
    transition: 0.2s all ease-in-out;
}

#links a:hover {
    color: var(--accent);
    transform: scale(1.8);
}



.tippy-box[data-theme~='font'] {
   background-color: black;
   font-weight: 600;
   font-family: sans-serif;
}

#name {
  animation: fadeIn;
  animation-duration: 2.0s;
}


#discord {
 animation: fadeInUp;
 animation-duration: 2s;
} 

#mail {
 animation: fadeInUp;
 animation-duration: 2s;
} 

#admin {
 animation: fadeInUp;
 animation-duration: 2s;
} 
#login {
 animation: fadeInUp;
 animation-duration: 2s;
} 
